.btn-home{
    position: fixed;
    top: 1rem;
    right:  1rem;
    @media (min-width: 768px) {
        top: 2rem;
        right: 2rem;
    }
    a{
        color: #000 !important;
        font-weight: bold;
    }
}